<style>
  .search-container {
    display: flex;
    gap:15px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #00000033;
}


.search-input {
    border: none;
    outline: none;

font-family: Proxima Nova;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
  padding;0px;

}

.search-input::placeholder {
    color: #0D0D0D;
}
</style>

    <div class="search-container">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          
<path d="M15.8867 15L11.2201 10.3333M12.7756 6.44444C12.7756 9.45133 10.338 11.8889 7.33116 11.8889C4.32428 11.8889 1.88672 9.45133 1.88672 6.44444C1.88672 3.43756 4.32428 1 7.33116 1C10.338 1 12.7756 3.43756 12.7756 6.44444Z" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <input type="text" class="search-input" placeholder="Search">
    </div>