<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }

   .template-404 a.button:hover{
      background: #bd2129;
    color: #fcfbf7; }
  .template-404 a.button{
    background: #7e0002;
    color: #fcfcfa;
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    padding: 15px 25px;
    border-radius: 100px;
    height: 50px;
    width: max-content;
    align-items: center;
    display: inline-flex; 
    gap: 10px;
    min-height: auto;
    max-width: fit-content;
    min-width: fit-content;
  }
  
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
