#reeview-app-widget_6711271dfea4480029a403ec #vw-root .vw-cmp__in-video-card--root .vw-cmp__in-video-card--description {
  text-shadow: none !important;
  font-weight: 400 !important;
  color: #090909 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  font-family: "Proxima Nova" !important;
  letter-spacing: 0 !important;
}
