/* iter fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap');
@font-face {
  font-family: 'Inter';
  src: url('https://cdn.shopify.com/s/files/1/0622/1937/files/Inter18pt-Regular.woff2?v=1724311929') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0622/1937/files/Inter18pt-Regular.woff?v=1724311929') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://cdn.shopify.com/s/files/1/0622/1937/files/Inter28pt-Regular.woff2?v=1724311929') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0622/1937/files/Inter28pt-Regular.woff?v=1724311929') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://cdn.shopify.com/s/files/1/0622/1937/files/Inter24pt-Regular.woff2?v=1724311929') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0622/1937/files/Inter24pt-Regular.woff?v=1724311929') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* inter-fonts end */

@font-face {
font-family: "Cellofy";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-Medium.woff2?v=1723444026")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-Medium.woff?v=1723444027")
    format("woff");
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Cellofy";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-Regular.woff2?v=1723444027")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-Regular.woff?v=1723444027")
    format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
}

/* @font-face {
font-family: "Cellofy";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-SemiBold.woff2?v=1723444027")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-SemiBold.woff?v=1723444027")
    format("woff");
font-weight: 600;
font-style: normal;
font-display: swap;
} */

@font-face {
font-family: "Cellofy";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/cellofy-semibold-webfont.woff2?v=1725961349")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/cellofy-semibold-webfont.woff?v=1725961349")
    format("woff");
font-weight: 600;
font-style: normal;
font-display: swap;
} 


@font-face {
font-family: "Cellofy";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-Bold.woff2?v=1723444027")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/Cellofy-Bold.woff?v=1723444027")
    format("woff");
font-weight: bold;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: "Proxima Nova";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/ProximaNova-Regular.woff2?v=1723443636")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/ProximaNova-Regular.woff?v=1723443636")
    format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Proxima Nova";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/ProximaNova-Semibold.woff2?v=1723443636")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/ProximaNova-Semibold.woff?v=1723443636")
    format("woff");
font-weight: 600;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Proxima Nova";
src: url("https://cdn.shopify.com/s/files/1/0622/1937/files/ProximaNova-Bold.woff2?v=1723443636")
    format("woff2"),
  url("https://cdn.shopify.com/s/files/1/0622/1937/files/ProximaNova-Bold.woff?v=1723443636")
    format("woff");
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
  font-family: 'Hurricane';
  src: url('https://cdn.shopify.com/s/files/1/0622/1937/files/Hurricane-Regular.woff2?v=1723095790') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0622/1937/files/Hurricane-Regular.woff?v=1723095790') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* vietnamese */
@font-face {
  font-family: 'Ephesis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ephesis/v9/uU9PCBUS8IerL2VG3xvR38yH.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Ephesis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ephesis/v9/uU9PCBUS8IerL2VG3xrR38yH.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ephesis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ephesis/v9/uU9PCBUS8IerL2VG3xTR3w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
scroll-behavior: smooth;
}
body,
body .swym-ui-component *,
body .swym-ui-component .swym-is-button,
body .swym-ui-component .swym-is-anchor {
font-family: "Manrope";
letter-spacing: 0;
}
a,
button,
.button,
svg {
transition: all 0.3s ease 0s;
}

.button:not(.button--secondary):hover,
.button:not([disabled]):hover,
.button--primary:hover {
background: #fff;
color: #000;
}

.button:not(.button--secondary):hover:after,
.button:not([disabled]):hover:after,
.button--primary:hover:after {
/* box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
    rgba(var(--color-button-text), var(--border-opacity)),
  0 0 0 calc(var(--buttons-border-width) + 0px)
    rgba(var(--color-button), var(--alpha-button-background)); */
}

.button.cart-remove-button:not(.button--secondary):hover, .button.cart-remove-button:not([disabled]):hover{
    background: transparent;
}

.button--secondary:not(.button--primary):hover {
  background:#BD2129;
  color: #fcfcfa;
}
.button--secondary:not(.button--primary):hover:after {
--border-offset: 0px;
/* box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
    rgba(var(--color-button-text), var(--border-opacity)),
  0 0 0 calc(var(--buttons-border-width) + 0px)
    rgba(var(--color-button), var(--alpha-button-background)); */
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
body .swym-ui-component .swym-title,
body .swym-ui-component .swym-heading,
body .swym-ui-component .swym-label,
.heading-font {
font-family: IBM Plex Serif;
font-weight: 400;
}
.pt-0 {
padding-top: 0 !important;
}
.pb-0 {
padding-bottom: 0 !important;
}
.mt-0 {
margin-top: 0 !important;
}
.mb-0 {
margin-bottom: 0 !important;
}
.sim-link,
.home-multicolumn .multicolumn-card__info .sim-link,
.li-view-all .header__menu-item {
display: inline-flex;
align-items: center;
color: #000;
font-size: 12px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0.6px;
text-transform: uppercase;
gap: 10px;
text-decoration: none;
}
img.shogun-image {
  margin-bottom: 20px !important  ;
}
#s-ec6eac2f-f5b7-40a2-bb83-0acf495a663a{
  border-radius: 100px;
}
#s-ec6eac2f-f5b7-40a2-bb83-0acf495a663a:hover{
  background-color: #BD2129;
  color: #fff;
}
body .swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title,
body
.swym-ui-component
.swym-wishlist-grid
.swym-wishlist-item
.swym-product-price {
font-weight: 400;
font-size: 14px;
}
.lookbook-pastel-prairies #MainContent .page-width {
max-width: 1190px;
}
.section-padding {
padding-top: 150px;
padding-bottom: 150px;
}
/* template-page gift-guide */
.template-page.gift-guide .section-padding {
padding-top: 130px;
padding-bottom: 130px;
}
/* template-page gift-guide */
body .swym-ui-components .swym-bg-2,
body .swym-ui-component .swym-bg-2 {
background: #000;
}
body .swym-ui-component .swym-wishlist-detail-header .swym-wishlist-main-title,
body .swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title,
body
.swym-ui-component
.swym-wishlist-grid
.swym-wishlist-item
.swym-product-price,
body
.swym-ui-component
.swym-clear-wishlist-modal
.swym-clear-wishlist-modal-dialog
.swym-text-heading,
body .swym-ui-components .swym-color-2,
body .swym-ui-component .swym-color-2,
body .swym-notification-wishlist .swym-details {
color: #000;
}
.btn-no-pseudo:after,
.btn-no-pseudo:before {
display: none;
}
body .wlo-holder.wlo-active {
z-index: 20000000000;
}
.template-index .page-width,
.template-product .page-width,
.announcement-bar.page-width {
/* max-width: 100%; */
}
.section-instagram {
overflow: hidden;
}
.button.button--secondary.loading:hover > .loading-overlay__spinner .path {
stroke: #000;
}

/*global loader - start*/
body.fetch--progress {
overflow: hidden;
pointer-events: none;
position: relative;
height: 100vh;
width: 100%;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
body.fetch--progress:after {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.95);
z-index: 6;
opacity: 1;
visibility: visible;
}
.fetch--progress .global-loader {
width: 48px;
height: 48px;
border: 3px dotted #000;
border-style: solid solid dotted dotted;
border-radius: 50%;
display: inline-block !important;
position: fixed;
left: 50%;
top: 50%;
animation: rotation 2s linear infinite;
z-index: 7;
margin: -24px 0 0 -24px;
}

@keyframes rotation {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@keyframes rotationBack {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(-360deg);
}
}
/*global loader - end*/

/* global css start */

.why-video-header-text-inner-second{
  z-index: 0;
}
a {
  text-decoration: none;
}

img {
max-width: 100%;
width: 100%;
object-fit: cover;
height: auto;
}

.mobile-img {
display: none;
}

.localization-form__select span img {
display: none;
}

body.gradient.template-collection.category.largeScaleF {
background: #fcfcfa;
}
.container-fluid {
width: 100%;
max-width: 1360px;
margin: auto;
}
.main_heading {
  font-family: IBM Plex Serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color:#1A1A1A;  
letter-spacing: -0.02em;;
margin: 0 0 10px;
}
.shopify-section .heading {
  font-family: IBM Plex Serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.48px;
  color:#1A1A1A; 
margin: 0 0 10px;
}
p.desc, .desc {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  vertical-align: bottom;
  color:#1A1A1A; 
margin: 0;
}

/* .link.makro--link {
font-weight: 600;
line-height: 100%;
margin-top: 30px;
border: none;
font-size: 16px;
display: flex;
align-items: center;
gap: 5px;
text-decoration: none;
} */

 .shopify-section {
background-color: #fcfcfa;
} 
.advantag-inner-icon-header-text-main .advantage-image-with-txt .image{
      width: 80px !important;
}
.advantag-inner-icon-header-text-main .advantage-image-with-txt .image img{
      height: 100%;
    border-radius: 10px;
}
@media only screen and (max-width: 1440px) {
.container-fluid {
  padding: 0px 40px;
}
}
@media only screen and (max-width: 768px) {
.mobile-img {
  display: block !important;
}
.desktop-img {
  display: none;
}
}

/* global css end */
.template-article .article-template .article-template__social-sharing span svg path{ stroke: #7E0002; }
@media screen and (min-width: 990px) and (max-width: 1199px) {
.xl-medium-hide {
  display: none !important;
}
}

@media screen and (min-width: 1200px) {
.xl-large-up-hide {
  display: none !important;
}
}

@media screen and (min-width: 990px) {
.template-page.gift-guide .msd-image-banner + .section-padding {
  padding-top: 80px;
}
}

@media screen and (max-width: 1199px) {
.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
}
@media screen and (max-width: 989px) {
.main_heading {
  font-size: 48px;
  letter-spacing: -0.96px;
}
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* template-page gift-guide */
.template-page.gift-guide .section-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* template-page gift-guide */
}
@media screen and (max-width: 749px) {
.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.button.cta_button {
  width: 100%;
}
}
.template-page.warranty-parts .multicolumn-card__info .link {
  text-decoration: none;
  margin-top: 1.5rem;
  background: #7e0002;
  color: #fcfcfa;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  padding: 15px 25px;
  border-radius: 100px;
  height: 50px;
  width: max-content;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  min-height: auto;
  max-width: fit-content;
  min-width: fit-content;
}
.template-page.warranty-parts .multicolumn-card__info .link:hover{background-color: #BD2129;}
.template-page.warranty-parts .multicolumn-card__info .link .icon-wrap {
  display: none;
}