a{
  color: #7E0002;
}
a:hover{
  /* color: #A6BB3A; */
}
/* breadcrumb */
.breadcrumbs-item a,
.breadcrumb-item a,
.breadcrumb-item a{
  border-bottom: 1px solid transparent;
}
.breadcrumb-item a:hover,
.breadcrumbs .breadcrumbs-item a:hover,
.breadcrumb-item a:hover{
    border-bottom: 1px solid #00000099;
}

/* menu */
.cust-inner-menu li:hover a{
  border-bottom: 1.5px solid #BD2129;
  width: fit-content;
}
.navabar-desktop .navbar_item .navbar_link:hover {
  font-weight: 700;
}

.card-wrapper .card--card:hover .card__heading a{
    color: #BD2129 !important;
}
.link.makro--link{
    font-weight: 500;
    line-height: 100%;
    margin-top: 10px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing:0; 
    gap: 5px;
    text-decoration: none;
}
.image-width-text-header .link.makro--link{
   margin-top: 5px;
}
.link.makro--link:hover,
.get-started-360 .grid-item a:hover .link.makro--link,
.service-content:hover a,
.blog__post.grid__item:hover .card__heading a,
.blog__post.grid__item:hover .link.makro--link,
.insta-heading:hover a,
.announcement-button:hover a,
.pagination__list li:hover .link
.header-shop-right .link
.pagination__item:hover{
  color:#BD2129 !important;
}
.banner-group .banner:hover .link { color: #BD2129; }
.social-icons a:hover svg path{
   fill: #BD2129;
}
.navbar_item a{
  align-items: center;
}
/* heading */
.insta-heading a{
   color:#7E0002; 
}
.service-content:hover .main_heading{
     color:#BD2129 !important;
}
/* background box on hover */
.image-width-text-header{
    padding: 10px;
    border-radius: 15px;
}

.cmn-menu-product{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
@media screen and (min-width:768px){
  .cmn-menu-product:hover
  {
    background:#EDEDE8;
    color: #1a1a1a;
  }
}
.makro-product-carousel-wrapper .card-descc{
  font-family: Manrope;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color:rgb(0,0,0, 0.4);
}


.cmn-menu-product .boxhover-bg, .category-image-text-link, .image-width-text-header{ transition:all 0.3s linear; }
/* slider nav */
.makro-product-carousel-wrapper .slide-nav .nav-btn{
    position: absolute;
    top: 25%;
}

.makro-product-carousel-wrapper .nav-btn.prevprev.swiper-button-disabled {
  opacity: 0;
}

.ann_bar_main .slide-nav .nav-btn:hover{
    background: none !important;
}
.ann_bar_main .slide-nav .nav-btn{
    background: none !important;
}
.slide-nav .nav-btn:hover,
.auther-content .right-arrow:hover,
.swiper-button-div .swiper-button-prev:hover,
.swiper-button-div .swiper-button-next:hover{
  background: #BD2129;
}
.slide-nav .nav-btn,
.auther-content .right-arrow,
.swiper-button-div .swiper-button-prev,
.swiper-button-div .swiper-button-next{
    background-color: #7E0002;
    color: #fcfcfa;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.template-cart .related-products .slide-nav .nav-btn{
	background:transparent; 
}
.template-cart .related-products .slide-nav .nav-btn:hover{
	background:#BD2129; 
}

/* button hover and custome */
.button.cta_button {
  background: #7E0002;
  color: #FCFCFA;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  padding: 15px 25px;
  border-radius:100px; 
  height: 50px;
  width:max-content;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  min-height: auto;
  max-width: fit-content;
  min-width: fit-content;
}
.button.cta_button:hover {
    background: #BD2129 !important;
    color: #fcfbf7 !important;
}
.button.cta_button::before,
.button.cta_button:after {
    display: none;
}
.cart-drawer-main-product .quick-add__submit{
      margin-top: 5px;
      border: 1px solid;
}
.essentials-cookware-set .upgrade-button:hover{
    background: #BD2129; 
    color: #fff;
    border-color: #BD2129;
}

/* line */
.banner-text-catalog-icon span a:hover{
    border-color: #BD2129 !important;
}
.access_link a, .privacy_policy_sec a{ transition:all 0.3s linear; }
.access_link a:hover{ color:#BD2129;  }
.main_privacy a:hover,.main_copyright a:hover{
  color:#BD2129;
}
.social-icons a svg path{ transition:all 0.3s linear; }
.video-group-wrapper .swiper-wrapper{
      align-items: flex-start;
}
.chef-section .video-group .cover-image img{
    border-radius: 15px;
 }
.video-group custom-deferred-media .js-vimeo{
  background: #000;
}
@media(max-width:543px){
 .button-block-mob .button.cta_button{
    width: 100% !important;
    max-width: 100% !important;
  }
  .pan_review.review2 {
    max-width: 170px;
  }
  .pan_review.review2 {
      bottom: -120px;
   }
   .stainless-steel-pan .image-wrapper .subtitle {
      bottom: -160px;
      width: 131px;
      right: 30px;
  }
    .stainless-steel-pan {
        padding: 80px 0 85%;
    }
}
@media(max-width:400px){
    #full-blend-hero-section .full-blend-hero-section-container-box-heading-container h1 {
      font-size: 48px !important;
      line-height: 48px;
      letter-spacing: -.02em;
  }
}