.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.arrow {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    user-select: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0;
}
.left-arrow::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M8.625 11.25L3.375 6L8.625 0.75" stroke="black" stroke-opacity="0.1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}
.right-arrow::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M3.375 11.25L8.625 6L3.375 0.75" stroke="%230D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.10;
}
.page-number {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    color: #0D0D0D;
    line-height: 100%;
}
span#currentPage {
    background: #606D22;
    color: #fff;
}