/* custom footer css */

.footer-input::placeholder{
  color:#FFFFFF4D;
font-family: Proxima Nova;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.full_footer {
  margin: 0;
  background-color: #7E0002; 
  color: #FCFCFA;
}

.logo img {
  max-width: 142px;
  width: 142px;
  height:80px; 
}

.footer-bottom_icon .social-icons a{ width:20px; height:20px; }

.footer_main_sec {
  max-width: 1360px;
  padding:80px 0px 0px 0px;
  margin:auto;
}

.main_copyrigt_sec {
  padding: 20px 0px;
  max-width: 1360px;
  margin:auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  margin-bottom: 40px;
}

.copyrigt_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.copyrigt_grid_cokware {
  display: grid;
  grid-template-columns: 1fr;
}

.main_grid_div_sub {
  display: grid;
  grid-template-columns: 1fr;
}

.footer .main_grid_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-icons {
  padding-top:10px;
  display: flex;
}
.custom-footer{
  display: flex;
  justify-content: space-between;
  width: 100%; 
}
.logo{
  width:20%;
  padding-right:10px;
}
.custom-menu{
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.footer-menu-block{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding:0 10px 0 0;
}
.custom-subscribe{
  width: 31.39%;
}

.shop h3,
.main_grid_div h3,.custom-footer h3{
  margin:0;
  color:#ffffff;
  font-family: IBM Plex Serif; 
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
  padding-bottom:5px;
}
.shop a,
.main_grid_div a,.custom-footer a{
   color:#ffffff;
   font-weight: 400;
   font-size: 14px;
   font-family:Manrope; 
   line-height: 150%;
   letter-spacing: 0;   
   text-align: left;
  display: block;
  padding-top:15px;

}
.subscribe h3{
  margin:0;
  color:#FCFCFA;
letter-spacing: -0.02em;
text-align: left;
font-family: IBM Plex Serif;
font-weight: 400;
font-size: 32px;
line-height: 120%;

}
.footer-bottom_icon h3{
    margin:0;
 color:#fff; 
 font-family: IBM Plex Serif;
font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

}

/* .footer h3 {
  font-family: Cellofy;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  margin:0;
  color:#FCFBF7;
} */

/* .footer a {
  display: block;
  color: #fcfbf7;
  text-decoration: none;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top:20px;
} */

.subscribe input[type="email"] {
  padding: 0px;
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #FCFCFA;
}

input[type="email"]:focus-visible {
  border: none;
  outline: none;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

.footer-bottom_icon {
  margin-top: 60px;
}

.footer-bottom_icon a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer_sub_p {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;  
  color: #FCFCFA;
  opacity: 60%;
  margin-top:10px;
  margin-bottom:40px;
}

.subscribe_form_div {
  position: relative;
  border: 1px solid #FCFCFA;
  border-radius: 100px;
  padding:14px 20px;
}

.sub_btn {
  font-family: var(--font-body-family); 
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #FCFCFA;
  opacity: 60%;
}

.sub_btn_main_div {
  position: absolute;
  right: 20px;
  top: 14px;
  cursor:pointer;
}

img.check_icon {
  width: 14px;
  height: 10px;
  padding: 0px;
  margin: 0px;
}

.privacy_policy_sec {
  margin: 0;
}

.privacy_policy_sec a {
  color:#FCFCFA; 
  font-family:var(--font-body-family); 
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;  
  text-decoration: none;
  opacity:0.6; 
}
.cokware_p {
  font-family:var(--font-body-family); 
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 0;
  opacity:0.6; 
  color: #FCFCFA;
}

.divider {
  border-top: 1px solid #FCFCFA;
  opacity: 0.2;
}

.main_cokware {
  display: flex;
  align-items: center;
  justify-content: end;
}

.main_mobile_div {
  display: none;
}

.subscribe_form_di ::placeholder {
  color: #ffffff4d;
}
.social-icons a{
  padding:0px;
  margin:0;
}
.social-icons{
  display:flex;
  gap:20px;
}
.mobile_section_toogle h3{
  margin:0;
  color:#FCFCFA;
  font-family: Cellofy;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.inline-menu-flex{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.inline-menu-flex .ab-icon-arrow{
  display:none;
}

@media only screen and (max-width: 1440px) {
  .footer_main_sec {
    margin-inline:40px;
  }
}
@media only screen and (max-width: 1024px) {

  .main_grid_div_sub {
    grid-column: span 2;
    padding-top:40px;
  }

  .desktop-none {
    display: none;
  }
  .copyrigt_grid{
    grid-template-columns: 1fr 1fr;
  }
  .custom-footer{
    flex-wrap: wrap;
  }
  .custom-menu{
   width: 75%;
  }
  .custom-subscribe {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .footer_main_sec {
    padding:40px 0px 0px 0px;
  }
  .main_grid_div_sub {
    grid-column: 1;
  }
  .inline-menu-flex .ab-icon-arrow{
  display:block;
  }
  .custom-menu {
    width: 100%;
    order: 3;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .footer-menu-block {
    flex: unset;
    width: 100%;
    margin-bottom: 20px;
  }
  .custom-footer .logo{
    display:none;
  }
  .custom-subscribe{
    padding-top:30px;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .footer-header-regular{
    padding:0 !important;
  }
  .main_desktom_div {
    display: none;
  }

  .main_mobile_div {
    display: flex;
    flex-direction:column;
    gap:40px;
  }
  .main_mobile_div h3{
    padding:0;
  }

  .main_grid_div_sub {
    grid-column: 1;
  }

  .footer .main_grid_div {
    display: none;
    grid-template-columns: 1fr;
  }
.footer_main_sec {
  margin:0;
  padding: 20px;
  }

  .footer-bottom_icon a {
    margin: 0 ;
  }
/* 
  .footer h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    margin: 0;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
  } */

  .footer .content {
    display: none;
    padding: 10px 0;
  }

  .footer .content a {
    display: block;
    color: #FCFCFA;
    margin: 10px 0;
font-family: Proxima Nova;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

  }

  .footer-bottom {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.8em;
  }

  .footer-bottom a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-bottom p {
    margin: 0;
  }

  .links {
    display: flex;
  }

  .links a {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #FCFCFA;
    text-decoration: none;
    margin-right: 20px;
  }

  .luc_p {
    display: block;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
  }

  .footer_bottom_links {
    padding: 15px 0px;
  }
  .luc_p_div {
    padding: 5px 0px;
  }
  .social-icons{
    padding-top:20px;
  }
  .footer{
    margin-bottom:20px;
  }
}

.desktop-localization-wrapper.footer-localization {

  justify-content: flex-start;

  border-top: 1px solid rgba(2550, 255, 2555, 0.2);

  padding-top: 40px;

  margin-top: 60px;

  width: 100%;

  order: 4;

}

.desktop-localization-wrapper.footer-localization .disclosure__button.localization-form__select {

  background: transparent;

  display: flex;

}

.desktop-localization-wrapper.footer-localization .disclosure_header_true .localization-form__select svg:first-child {

display: none;

}

.desktop-localization-wrapper.footer-localization .localization-selector.link{

  color: #FCFCFA;
  font-family: Manrope;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
  text-transform: uppercase;

}

.desktop-localization-wrapper.footer-localization .localization-selector.link{

  padding-right: 22px;

  padding-left: 0;

  min-width: fit-content;

}

.desktop-localization-wrapper.footer-localization .localization-form__select:after,

.desktop-localization-wrapper.footer-localization .localization-form__select:before  {

  box-shadow: none;

}

.desktop-localization-wrapper.footer-localization localization-form:last-child {

order: -1;

}

.desktop-localization-wrapper.footer-localization localization-form .localization-form {margin-right: 0; }

.desktop-localization-wrapper.footer-localization localization-form:not(:first-child){

  margin-right: 20px

}

  .desktop-localization-wrapper.footer-localization .localization-form:only-child .button, .desktop-localization-wrapper.footer-localization .localization-form:only-child .localization-form__select {

    margin:  0;

  }

  .desktop-localization-wrapper.footer-localization .disclosure__link {

   color: black;  

  }

  .desktop-localization-wrapper.footer-localization .disclosure__link svg {

    width: 12px;

  }

  .desktop-localization-wrapper.footer-localization .disclosure__link:hover {

    color: #00406E;

  }

  .desktop-localization-wrapper.footer-localization .disclosure__button[aria-expanded='true'] .icon-caret {

    transform: rotate(180deg);

}

.copyrigt_grid .desktop-none:empty {

  display: none;

}
.access_link a, .privacy_policy_sec a{ color:#fff; opacity:0.6;  margin:0;    font-family: var(--font-body-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%; }
  .main_access .access_link {  margin:0; }
@media screen and (max-width: 749px){

  .desktop-localization-wrapper.footer-localization {

    padding-top: 40px;

    margin-top: 40px;

  }

  .main_copyrigt_sec {

    padding: 15px 0;

  }

}
