<div class="yotpo-widget-instance" data-yotpo-instance-id="50260"></div>
<style>
  .yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-email-view {
    width: 85.5% !important;
  }
  .yotpo-screen-friends_emails #yotpoReferralTitleText{
    font-weight: 500 !important;
    font-family: 'Cellofy' !important;
    font-size: 60px !important;
    color: rgba(var(--color-foreground), 1) !important;
    margin: 40px 0 30px;
    padding: 0;
  }
  .yotpo-widget-referral-widget .yotpo-email-view .yotpo-header-text {
    position: relative;
    top: 30px;
    display: inline-block;
    transform: rotate(-5deg);
    font-family: 'Hurricane' !important;
    color: #6B7A29 !important;
    font-size: 30px !important;
    text-align: left;
  }
  .yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-email-view {
    text-align: left;
  }
  #yotpoReferralDescriptionText{
    font-family: 'Proxima Nova' !important;
    font-size: 16px !important;
    color: #0D0D0D !important;
    line-height: 24px;
  }
  .yotpo-widget-referral-widget .yotpo-input-container .yotpo-input{
    background: none;
    border: 1px solid #0D0D0D;
    border-radius: 100px;
    font-size: 16px;
  }
  .yotpo-widget-referral-widget .yotpo-input-container .yotpo-input::placeholder {
    color: rgba(0, 0, 0, 0.30);
  }
  .yotpo-widget-referral-widget .yotpo-referral-widget-form {
    margin-top: 30px !important;
  }
  .yotpo-widget-referral-widget.yotpo-widget-override-css .yotpo-action-button-widget .yotpo-filled-button{
    background-color: #606D22 !important;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    /* width: 150px; */
    text-align: center;
    font-weight: 400;
    padding: 0;
    height: 40px;
    border-radius: 100px;
  }
  .yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button{
    margin-top: 60px;
  }
  .yotpo-widget-referral-widget.yotpo-widget-override-css .yotpo-email-view .yotpo-action-button-widget .yotpo-filled-button{
    width:150px;
    height: 50px;
  }
  .yotpo-widget-referral-widget.yotpo-widget-override-css .yotpo-action-button-widget .yotpo-filled-button span{
    font-weight: 600 !important;
    color: #FCFBF7;
    font-size: 16px !important;
    line-height: 100%;
    font-family: "Proxima Nova" !important;
  }
  .yotpo-widget-referral-widget .yotpo-input-container .yotpo-input-example{
    padding-top: 10px;
    padding-left: 10px;
    color: #000;
  }
  .yotpo-widget-referral-widget .yotpo-final-view .yotpo-header-text{
    font-weight: 500 !important;
    font-style: normal;
    font-family: 'Cellofy' !important;
    font-size: 45px !important;
    color: #000 !important;
    text-transform: capitalize !important;
  }
  .yotpo-widget-referral-widget .yotpo-title-text {
    color: var(--Black, #0D0D0D) !important;
    font-family: Cellofy !important;
    font-size: 60px !important;
    font-weight: 600 !important;
    line-height: 100% !important;
    letter-spacing: -1.2px !important;
    text-transform: capitalize !important;
  }
 .yotpo-widget-referral-widget .yotpo-row-desktop-text{
    color: #000 !important;
  }
 .yotpo-widget-referral-widget .yotpo-row-display{
    background: transparent !important;
    padding: 0;
 }
  .yotpo-row-display .yotpo-row-right-text{
    background-color: #E6A817;
    color: #fff !important;
    padding: 8px 24px;
    border-radius: 20px;
  }
  .yotpo-widget-referral-widget .yotpo-lower-line-tab{
    padding:0 !important; 
    border:0 !important;
  }
  .yotpo-widget-referral-widget .yotpo-lower-line-tab .yotpo-tabs-text{
    color: #000 !important;
  }
  .yotpo-widget-referral-widget .yotpo-lower-line-tab.yotpo-tab-active .yotpo-tabs-text{
    background-color: #606D22;
    color: #fff !important;
    border-radius: 20px;
    padding: 10px 10px;
    border-bottom: 0 !important;
  }
  
  .yotpo-widget-referral-widget .yotpo-lower-line-tabs.yotpo-tab-medium-size {
    background: #f7f6f2;
    border-radius: 20px;
    padding: 0px 0px;
    border: 0;
  }
  .yotpo-widget-referral-widget .yotpo-table-rectangular .yotpo-grid-row {
    margin-bottom: 6px;
    border-top: 2px solid #e3e2de;
    padding: 6px 0px;
  }
  .yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-customer-share-button, .yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button {
    margin-top: 40px;
  }
  .yotpo-widget-referral-widget .yotpo-background.yotpo-right-align-background {
    background: #FCFBF7 !important;
  }
  @media only screen and (max-width: 767px) {
    .yotpo-widget-referral-widget .yotpo-background.yotpo-right-align-background {
        flex-wrap: wrap;
        height: 100% !important;
    }
    .yotpo-widget-referral-widget .yotpo-tile-wrapper {
      width: 100%;
      max-width: 100%;
    }
    .yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-tile-box {
        width: 100% !important;
    }
    .yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-email-view {
        width: 100% !important;
        padding: 0 20px;
        padding-right: 70px;
    }
    .yotpo-widget-referral-widget .yotpo-background .yotpo-right-align-image {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      min-height: 450px;
      max-height: 450px;
    }
  }
</style>